.header{
  height:4.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkmagenta;
  color: white;
}

.container{
  height: 20em;
  width: 30%;
  background: white;
  margin-top: 5.rem;
  position: absolute;
  left: 40%;
  top: 5.9em;
  border: 1px solid darkmagenta;
  box-shadow: 0px 0px 2px  darkmagenta;
  border-radius: 3px;
}

.container h3{
  text-align: center;
  margin-bottom: 10px;
  background: darkcyan;
  color: white;
  
}

.container form .input-filed input,
.container button{
  width: 100%;
  margin-bottom: 0.6em;
  padding: 7px 20px;
}
.container form button{
  text-align: center;
color: white;
background: green;
outline: none;
border: 1px solid red;
font-size: 14px;
border-radius: 4px;
}